<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/index/style.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <title>TaskNotes</title>
</head>
<body>
    <header>
        <h1 class="float-left">TaskNotes</h1>
        <ul class="nav nav-tabs ">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tareas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cuentas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Iniciar Sesión</a>
            </li>
        </ul>
    </header>
    <div class="container principal">
        <h2>Bienvenido a Task Notes</h2>
        <p>
            Te ayudamos a organizar tu día y tener un control detallado de tus tareas.            
        </p>
        <span>Animate a probarlo</span>
        <button class="btn-secundary"><a href="#">Registrate</a></button>
    </div>
    <footer>
        <div class="container text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Iniciar Sesión</a>
                </li>
            </ul>
            <span>Copyright © Your Website 2018</span>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>